*
!/.gitignore
!/README.md
!/RELEASE_GATES.md
!/package/
!/package/**/
!/package/DATA_ACCESS.md
!/package/FILE_SHA256.json
!/package/README.md
!/package/SOURCE_MANIFEST.json
!/package/VERSION_STATUS.md
!/package/build_local_package.py
!/package/corrected_version/ipcw_correction.patch
!/package/corrected_version/overlay/01_Aktuelles_Manuskript/manuskript_v2/build_package.py
!/package/corrected_version/overlay/01_Aktuelles_Manuskript/manuskript_v2/reporting_patch_20261004/fold_counts.csv
!/package/corrected_version/overlay/02_Analyse/scripts/build_ml_paper_tables.py
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_ipcw_diagnostics_refresh.R
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_ipcw_impact_audit.R
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_ipcw_ml_refresh.R
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_ipcw_primary_refresh.R
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_ml_extension.R
!/package/corrected_version/overlay/02_Analyse/scripts/hrs_prediction_validation.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ipcw_diagnostics_refresh.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ipcw_impact_audit.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ipcw_ml_refresh.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ipcw_primary_refresh.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ipcw_ties.R
!/package/corrected_version/overlay/02_Analyse/tests/test_ml_recovery_hooks.R
!/package/corrected_version/overlay/02_Analyse/tests/test_python_table_validation.py
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Korrektur_2026-10-04/legacy_sources/hrs_ml_extension.R
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Korrektur_2026-10-04/legacy_sources/hrs_prediction_validation.R
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Korrektur_2026-10-04/legacy_sources/sha256.json
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/SEND_BACK/PRIMARY_REPLAY_STATUS.txt
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/SEND_BACK/STATUS.txt
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/SEND_BACK/primary_apparent_reweighting.csv
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/SEND_BACK/script_hashes.csv
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/SEND_BACK/versions.txt
!/package/corrected_version/overlay/03_Dokumentation/IPCW_Rueckgabe_2026-10-04/source_before_ml_hooks/hrs_ml_extension.R
!/package/corrected_version/overlay/04_Archiv/Berichte/ml_critical_audit_v1/before/hrs_ml_extension.R
!/package/corrected_version/runtime_validation.patch
!/package/environment/DEPENDENCIES.tsv
!/package/environment/check_environment.R
!/package/materialize_version.py
!/package/qa/corrected_all.json
!/package/qa/corrected_quick.json
!/package/qa/corrected_regression.json
!/package/qa/environment_check.txt
!/package/qa/release_audit.json
!/package/qa/relocation_check.json
!/package/qa/reported_quick.json
!/package/qa/static_checks.json
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/build_figure3.R
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/build_figure_s1.R
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/build_package.py
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/table2_source.csv
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/tableS7_tuning.csv
!/package/reported_version/01_Aktuelles_Manuskript/manuskript_v2/versions.csv
!/package/reported_version/02_Analyse/metadata/stage2_variables.csv
!/package/reported_version/02_Analyse/scripts/build_ml_paper_tables.py
!/package/reported_version/02_Analyse/scripts/hrs_analysis.R
!/package/reported_version/02_Analyse/scripts/hrs_diagnostics.R
!/package/reported_version/02_Analyse/scripts/hrs_equivalence_sensitivity.R
!/package/reported_version/02_Analyse/scripts/hrs_feasibility.R
!/package/reported_version/02_Analyse/scripts/hrs_grip_change.R
!/package/reported_version/02_Analyse/scripts/hrs_grip_history.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_equivalence.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_extension.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_figures.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_inference.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_overview_preview.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_person_figures_local.R
!/package/reported_version/02_Analyse/scripts/hrs_ml_point_figures.R
!/package/reported_version/02_Analyse/scripts/hrs_paper_figures.R
!/package/reported_version/02_Analyse/scripts/hrs_prediction_validation.R
!/package/reported_version/02_Analyse/scripts/hrs_provenance_overlap_audit.R
!/package/reported_version/02_Analyse/scripts/hrs_reporting_patch.R
!/package/reported_version/02_Analyse/scripts/hrs_source_hierarchy.R
!/package/reported_version/02_Analyse/scripts/hrs_stage2.R
!/package/reported_version/02_Analyse/scripts/hrs_table1.R
!/package/reported_version/02_Analyse/scripts/hrs_tracker_formats.R
!/package/reported_version/02_Analyse/tests/test_analysis.R
!/package/reported_version/02_Analyse/tests/test_diagnostics.R
!/package/reported_version/02_Analyse/tests/test_equivalence_sensitivity.R
!/package/reported_version/02_Analyse/tests/test_grip_change.R
!/package/reported_version/02_Analyse/tests/test_grip_history.R
!/package/reported_version/02_Analyse/tests/test_ml_equivalence.R
!/package/reported_version/02_Analyse/tests/test_ml_extension.R
!/package/reported_version/02_Analyse/tests/test_ml_inference_integration.R
!/package/reported_version/02_Analyse/tests/test_ml_point_figures.R
!/package/reported_version/02_Analyse/tests/test_ml_predictor_separation.R
!/package/reported_version/02_Analyse/tests/test_paper_figures.R
!/package/reported_version/02_Analyse/tests/test_prediction_validation.R
!/package/reported_version/02_Analyse/tests/test_provenance_overlap.R
!/package/reported_version/02_Analyse/tests/test_reporting_patch.R
!/package/reported_version/02_Analyse/tests/test_source_hierarchy.R
!/package/reported_version/02_Analyse/tests/test_stage2.R
!/package/reported_version/02_Analyse/tests/test_synthetic.R
!/package/reported_version/02_Analyse/tests/test_table1.R
!/package/reported_version/02_Analyse/tests/test_tracker_csv.R
!/package/reported_version/02_Analyse/tests/test_tracker_formats.R
!/package/reported_version/04_Archiv/Berichte/ml_critical_audit_v1/inference_verification.json
!/package/run_synthetic_tests.py
!/package/test_package_integrity.py
!/package/test_release_cli.py
!/package/verify_local_package.py
